@{
    ViewData["Title"] = "Home Page";
}
@section headscripts{

    <script type="text/javascript">
        function playGame() {
            window.location.href = "http://www.pogo.com/"

        }
        function FindNews() {
            window.location.href = "https://news.google.com/news"

        }

    </script>
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/dining room.jpg" alt="Dining Room" class="img-responsive" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Welcome</h2>
        <ul>
            <li><a asp-controller="Deal" asp-action="Index">Current Specials</a></li>
            <li><a asp-controller="Menu" asp-action="Index">View our menu</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <br/>
        <img src="~/images//surf.jpg" alt="Surf 'n Turf" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <br/>
        <img src="http://brightcove.vo.llnwd.net/v1/unsecured/media/1033249144001/201610/3811/1033249144001_5173861061001_5173851158001-vs.jpg?pubId=1033249144001" alt="Shrimp Cocktail" class="img-responsive">
    </div>
    <div class="col-md-3">
        <br />
        <img src="~/images//ribeye.jpg" alt="Bone-In (Cowboy) Ribeye" class="img-responsive" />
    </div>
</div>
<br />
<p class="text-right">
    <button type="button" class="btn btn-lg btn-success" onclick="playGame()">Playing a Game</button>
    <button type="button" class="btn btn-lg btn-info" onclick="FindNews()">Find some news</button>
</p>
