<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electronic Menu</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    @RenderSection("headscripts", required: false)
    @await Component.InvokeAsync("CSS")
</head>
<body>
    <div id="cp_widget_5b82e66f-cebc-4eee-aa36-52104cc64fc8">...</div>
    <script type="text/javascript">
        var cpo = []; cpo["_object"] = "cp_widget_5b82e66f-cebc-4eee-aa36-52104cc64fc8"; cpo["_fid"] = "AUFA7KelGFyH";
        var _cpmp = _cpmp || []; _cpmp.push(cpo);
        (function () {
            var cp = document.createElement("script"); cp.type = "text/javascript";
            cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(cp, c);
        })(); </script><noscript><span>New Gallery 2017/12/15</span></noscript>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Electronic Menu</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Index">View Menu</a></li>
                    <li><a asp-area="" asp-controller="Tables" asp-action="Index">Tables</a></li>
                    <li><a asp-area="" asp-controller="Report" asp-action="AllSales">Sales Report</a></li>
                    <li><a asp-area="" asp-controller="Bill" asp-action="Index">My Bill</a></li>
                    <li><a asp-area="" asp-controller="Deal" asp-action="Index">Deal</a></li>
                    <li><a asp-area="" asp-controller="Status" asp-action="Index">Status</a></li>
                    <li><a asp-area="" asp-controller="PreOrder" asp-action="Index">Pre Order</a></li>
                    <!--<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - electronic_menu</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
