@model data_models.Models.Table

@{
    ViewData["Title"] = "Call Waiter";
}

<h2>Call Waiter</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CallWaiter">
            <div class="form-group">
                <label asp-for="TableID" class="control-label"></label>
                <input asp-for="TableID" class="form-control" />
                <span asp-validation-for="TableID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Call" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
